<ion-content>
  <br><br><br><br><br><br><br><br>
  <div class="login container">
  <ion-card class="ion-text-center">
    <img style="height:50px; width:46.34px"  src="../../assets/images/relay-logo.svg" alt="blue running man">
    <ion-card-header>
      <ion-card-title>RELAY</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Keeping United Connected
    </ion-card-content>
  </ion-card>
</div>
<div class="login-button">
  <ion-button expand="block" [routerLink]="['/auth']">
    Login
    <ion-icon slot="end" name="mic-outline"></ion-icon>
  </ion-button>
</div>
</ion-content>

