
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Welcome, Cameron!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid [fixed]="true">
    <ion-row class="ion-justify-content-center">
      <ion-col size="3">RELAY</ion-col>
      <ion-col class="relay-column"  size="1"><img style="height: 55px; width:46.34px" src="../../assets/images/relay-logo.svg" alt="blue running man"></ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Field Technician</ion-card-title>
      <ion-card-subtitle>HUB | ORD </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-avatar >
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-card-content>
  </ion-card>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>Hourly Forecast</ion-col>
      <ion-col>Weekly Forecast</ion-col>
    </ion-row>
  </ion-grid>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col class="ion-wrap">
          6 AM<br />
          <div class="ion-wrap">
            <img style="height:50px; width:46.34px"  src="../../assets/images/raincloud.svg" alt="raincloud"><br />
          </div>
          55°<br />
        </ion-col>
        <ion-col class="ion-wrap">
          7 AM<br />
          <div class="ion-wrap">
            <img style="height:50px; width:46.34px"  src="../../assets/images/raincloud.svg" alt="raincloud"><br />
          </div>
          57°<br />
        </ion-col>
        <ion-col class="ion-wrap">
          8 AM<br />
          <div class="ion-wrap">
            <img style="height:50px; width:46.34px"  src="../../assets/images/raincloud.svg" alt="raincloud"><br />
          </div>
          59°<br />
        </ion-col>
        <ion-col class="ion-wrap">
          9 AM<br />
          <div class="ion-wrap">
            <img style="height:50px; width:46.34px"  src="../../assets/images/raincloud.svg" alt="raincloud"><br />
          </div>
          59°<br />
        </ion-col>
        <ion-col class="ion-wrap">
          10 AM<br />
          <div class="ion-wrap">
            <img style="height:50px; width:46.34px"  src="../../assets/images/raincloud.svg" alt="raincloud"><br />
          </div>
          60°<br />
        </ion-col>
        <ion-col class="ion-wrap">
          11 AM<br />
          <div class="ion-wrap">
            <img style="height:50px; width:46.34px"  src="../../assets/images/raincloud.svg" alt="raincloud"><br />
          </div>
          60°<br />
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  

  


  <!-- <ion-button (click)="presentPopover($event)">CHAT
    <ion-icon slot="end" name="chatbubbles-outline"></ion-icon>
  </ion-button> 
<p>{{ roleMsg }}</p> -->
</ion-content>
<ion-footer>
  <ion-button id="hover-trigger">CHAT
    <ion-icon slot="end" name="chatbubbles-sharp"></ion-icon>
  </ion-button>
  <ion-popover trigger="hover-trigger" triggerAction="hover">
    <ng-template>
      <ion-content class="ion-padding">How can we help?</ion-content>
    </ng-template>
  </ion-popover>
  <ion-button>Tech Hub</ion-button>
</ion-footer>
