<ion-header>
  <ion-toolbar>
    <ion-title>Authentication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img style="height:50px; width:46.34px"  src="../../assets/relay-logo.svg" alt="blue running man">
      </ion-col>
    </ion-row>
  
  <ion-row>
    <ion-col>
  <form>
    <ion-list>
      <ion-item>
        <ion-label position="floating">User Name</ion-label>
          <ion-input placeholder="Enter username"></ion-input>
        
      </ion-item>
      <ion-item fill="outline">
        <ion-label position="floating">Password</ion-label>
          <ion-input placeholder="Enter password" type="password"></ion-input>
      </ion-item>
    </ion-list>
  </form>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>



